<div class="col-md-12" ng-controller="HomeCtrl as $hmCtrl">
    <h1>Telegram Messages</h1>
    <ul uib-pagination boundary-links="true" total-items="$hmCtrl.totalItems" ng-change="$hmCtrl.pageChanged()"
        ng-model="$hmCtrl.currentPage" class="pagination pull-right" first-text="&laquo;" last-text="&raquo;"
        next-text="&rsaquo;" previous-text="&lsaquo;"
        boundary-link-numbers="true" rotate="false" items-per-page="$hmCtrl.perPage"
        max-size="3" template-url="modules/page/partial/pagination-template.html">

    </ul>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Group</th>
            <th scope="col">User</th>
            <th scope="col">Message</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in $hmCtrl.listMessage">
            <th>{{item.id}}</th>
            <td>{{item.group.group_name }}</td>
            <td>{{item.user.first_name + ' ' + item.user.last_name}}</td>
            <td>{{item.message_content}}</td>
            <td>{{item.created_at | date: "MM/dd/yyyy 'at' h:mma"}}</td>
        </tr>
        </tbody>
    </table>
    <ul uib-pagination boundary-links="true" total-items="$hmCtrl.totalItems" ng-change="$hmCtrl.pageChanged()"
        ng-model="$hmCtrl.currentPage" class="pagination pull-right" first-text="&laquo;" last-text="&raquo;"
        next-text="&rsaquo;" previous-text="&lsaquo;"
        boundary-link-numbers="true" rotate="false" items-per-page="$hmCtrl.perPage"
        max-size="3" template-url="modules/page/partial/pagination-template.html">

    </ul>

    <span us-spinner spinner-on="$hmCtrl.showSpinner" spinner-theme="fixedTheme"></span>
</div>
